<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>koko.web</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cl-icon/css/all.min.css">
</head>
<div class="wrapper">
    <form action="" class="form">
        <h1 class="title">Koko.Web</h1>
        <div class="inp">
            <input type="text" name="" id="" class="input" placeholder="Login">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="inp">
            <input type="password" name="id" class="input" placeholder="Sandi">
            <i class="fa-solid fa-lock"></i>
                </div>
                <button class="submit">Login</button>
                <p class="footer">Lupa email? <a href="#" class="link">Registrasi</a></p>

                <form> <div class="banner"> 
                    <h1 class="wel_text">KOKOWEB<br>
                    <p class="para">Forum Push Leng Mobel Lejeng</p></h1>
                </div>
            </div>
    
</body>
</html>